body {
    
    background-color:azure;
}
.h3
{
    color : firebrick;
    background-color : goldenrod;
    text-align : center;
}
.owners {
    text-align: center;
}
.list {
    text-align: center;
}
.location 
{
    text-align:center
}
.fri {
    text-decoration: line-through;
    
}