body {
    background-color: mistyrose;
}
.h4{
    text-align:center;
    background-color: hotpink;
}
.h3{
    text-align: center;
    background-color: peachpuff;
}
/*.list {
    text-align: center;
}*/
.location {
    text-align: center;
}