.h3{
color: darkgreen;
background-color :blanchedalmond;
text-align:center;
}
body {
    background-color: lavenderblush;
    
}
.products{

text-align:center;
}
.featuredproducts {
    text-align: center;
}
.p{
    color : cadetblue
}